<header>
    <p class="app-name">Tracker application</p>
    <div id="login-container">
        <a href="/auth/signin">signin</a>
        <a href="/auth/signup">signup</a>
    </div>
    <div id="logout-container">
        <button id="logout">logout</button>
    </div>
</header>