<div id="trackers-container">
    Trackers: 
    <div id="trackers">

    </div>

    <div class="add-tracker">
        <input type="text" id="tracker-input">
        <button id="tracker-submit">create tracker</button>
    </div>
    
</div>
